<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xlmns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Order List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css"  th:href="@{../css/bootstrap.min.css}" />
</head>
<body>
	<h1>Orders</h1>
	
	
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
	</div> 
	
    <table class="table table-striped" >
		<tr>
		    <th>Product Name</th>		    
		    <th>Description</th>
		    <th>Price</th>		    
		    <th>Amount</th>
		    <th>Total Price</th>
		    <th></th>
		    <th></th>
		</tr>  		
    	<tr th:each = "order : ${orders}">
    		<form th:action="@{/update/{id}(id=${order.id})}" method="get">    		 
    		<td th:text="${order.mask.name}"></td>    		
    		<td th:text="${order.mask.description}"></td>
    		<td th:text="${order.mask.price} "></td>
    		<td>    			
    			<input type = "text" size = "3" name = "amount" th:value = "*{order.amount}"/>    			
    		</td>  
    		<td>
    			<div th:with = "total = ${order.mask.price*order.amount}">
    				<input style = "border:none; background:transparent" type = "text" name = "total" readonly = "readonly" th:value= "${#numbers.formatDecimal(total, 0, 'DEFAULT',2,'DEFAULT')} " ></input>
    			</div>
    		</td>  		
 		 	<td><div><a th:href="@{/delete1/{id}(id=${order.id})}" class="btn btn-danger"> Delete</a></div></td>
 		 	<td>
 		 		<div>
 		 			<a th:href="@{/update/{id}(id=${order.id})}">
 		 				<input type="submit" value="Update" class="btn btn-success"></input>
 		 			</a>
 		 		</div>
 		 	</td>	 	
 		 	 </form>	
    	</tr>    	
     </table>     
	 <a href="/masklist" class="btn btn-success">Continue shopping</a>    	 
	 <!-- <a style="margin:100px " href="@{/update/{id}(id=${order.id})}" class="btn btn-success">Update cart</a>  -->
	 <a style="margin:100px " href="/finish" class="btn btn-success">Check out</a> 
	 
</body>
</html>