<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xlmns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Order List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css"  th:href="@{../css/bootstrap.min.css}" />
</head>
<body>
	
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
	</div> 
	
	<div style = "float:left">
	<h1>You have made orders successfully</h1>
	
	</div>
	
	
	
    <table class="table table-striped" >
		<tr>
		    <th>Product Name</th>		    
		    <th>Description</th> 
		    <th>Amount</th>
		    <th>Total Price</th>
		    <th></th>
		    
		</tr>  
    	<tr th:each = "order : ${orders}">
    		<td th:text="${order.mask.name}"></td>    		
    		<td th:text="${order.mask.description}"></td>
    		<td th:value = "*{order.amount}"></td>  
    		<td>
    			<div th:with = "total = ${order.mask.price*order.amount}">
    			<span th:text= "${total}"></span></div>
    		</td>  		
 		 	
    	</tr>
     </table>
	 
</body>
</html>