<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xlmns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>MaskList</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"  th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Masks</h1>
	
	
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
	</div> 
    <table class="table table-striped" >
		<tr>
		    <th>Name</th>
		    <th>Left amount</th>
		    <th>Description</th>
		    <th>Price</th>
		    <th>Category</th>
		    <th></th>
		    <th></th>
		</tr>  
    	<tr th:each = "mask : ${masks}">
    		<td th:text="${mask.name}"></td>
    		<td th:text="${mask.quanity}"></td>
    		<td th:text="${mask.description}"></td>
    		<td th:text="${mask.price}"></td>
    		<td th:text="${mask.category.name}"></td>
    		<td><a href="/add" class="btn btn-success">Add to cart</a> </td>
 		 	<td sec:authorize = "hasAuthority('ADMIN')"><a th:href= "@{/delete/{id}(id=${mask.id})}" > Delete</a></td>
 		 	 		
    	</tr>
     </table>
	 <a sec:authorize = "hasAuthority('ADMIN')" href="/add" class="btn btn-success">Add mask</a>    	
</body>
</html>